<div *ngIf="user" class="user-container  bg-secondary">
  <div>
    <h2>osobni udaje</h2>
    <div >
      <p>username: {{user.username}}</p>
      <p>email: {{user.email}}</p>
    </div>
  </div>
  <div>
    <div *ngIf="organizedEvents$ | async as events">
      <h2>Akce, ktere organizuji</h2>
      <div class="m-4 bg-primary" *ngFor="let event of events">
        <p>event name: {{event.name}}</p>
        <p>price: {{event.price}}</p>
      </div>
      <div *ngIf="events.length===0">
        <p>neporadate zadnou akci</p>
      </div>
    </div>
    <div *ngIf="applications$ | async as applications">
      <h2>prihlasky na Akce</h2>
      <div class="m-4 bg-primary" *ngFor="let application of applications">
        <p>event id: {{application.id}}</p>
        <p>submit date: {{application.submitDate}}</p>
        <p>approve: {{application.approved}}</p>
      </div>
      <div *ngIf="applications.length===0">
        <p>nejste prihlasen na zadnou akci</p>
      </div>
    </div>
  </div>
</div>
<div  class="user-container  bg-secondary text-center" *ngIf="!user">
  <h3 class="mt-5">nejste prihlaseny</h3>
</div>
