<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      MIA
    </a>

    <button class="navbar-toggler"
            type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="toggleNavbar()" routerLink="/">Uvod</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="toggleNavbar()" routerLink="/events">Akce</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="toggleNavbar()" routerLink="/about">o nas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="toggleNavbar()" routerLink="/gallery">galerie</a>
        </li>
        <li class="nav-item" *ngIf="!user">
          <a class="nav-link" (click)="toggleNavbar()" routerLink="/login">login</a>
        </li>
        <li class="nav-item" *ngIf="user">
          <a class="nav-link" (click)="toggleNavbar()" [routerLink]="'/user/' + user.id">{{user.username}}</a>
        </li>
        <li class="nav-item" *ngIf="user">
          <a class="nav-link" (click)="logOff()" routerLink="login/">odhlasit se</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-md container-fluid app-container">
  <router-outlet></router-outlet>
</div>

<footer class="bg-light text-white">
  <div class="container-md container-fluid">
    <div class="row">
      <section class="col-md-4 overflow-hidden">
        <img class="w-100 my-2    " src="/assets/logo.png" alt="image">
      </section>

      <section class="col-md-4 my-2 my-md-auto text-center">
        <ng-container *ngIf="contact">
          <h5 class="my-3">{{contact.name}}</h5>
          <h5 class="my-2">Adresa: {{contact.address}}</h5>
          <h5 class="my-2">Ičo: {{contact.ico}}</h5>
          <h5 class="my-2">Účet: {{contact.accountNumber}}</h5>
        </ng-container>
      </section>

      <section class="col-md-4 my-2 my-md-auto text-center">
        <ng-container *ngIf="contact">
          <h5 class="my-3">Email: {{contact.email}}</h5>

          <h4>sledujte nas na</h4>
          <!-- Facebook -->
          <a class="btn text-white btn-floating m-2 social-icon"
             [href]="contact.fbLink"
             target="_blank" rel="noopener noreferrer">
            <i class="bi bi-facebook fb"></i>
          </a>

          <!-- Instagram -->
          <a class="btn text-white btn-floating m-2 social-icon"
             [href]="contact.fbLink"
             target="_blank" rel="noopener noreferrer">
            <i class="bi--md bi-instagram ig"></i>
          </a>
        </ng-container>

      </section>
    </div>
  </div>
  <div class="text-center p-3 bg-dark">
    © 2023 Copyright:
    <a class="text-white nav-link">Martin Kostohryz</a>
  </div>
</footer>
