<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      MIA
    </a>

    <button class="navbar-toggler"
            type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/">Uvod</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/events">Akce</a>
        </li>
        <li class="nav-item" *ngIf="!user">
          <a class="nav-link"  routerLink="/login">login</a>
        </li>
        <li class="nav-item" *ngIf="user">
          <a class="nav-link" [routerLink]="'/user/' + user.id">{{user.username}}</a>
        </li>
        <li class="nav-item" *ngIf="user">
          <a class="nav-link" (click)="logOff()"  routerLink="login/">odhlasit se</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
