@import "./../../../styles";

.doc-box {
  min-width: 200px;
  min-height: 200px;
  margin: auto;
  background-color: $light;
  border: solid $primary 1px;
  border-radius: 2px;
  font-size: 60px;
  padding: 30px;
}
