
<h1 class="text-center m-5">Kalendář akcí</h1>
<div class="container mb-5">
  <div class="months-menu mx-1  x ">
    <div class="text-center month-box "
         [ngClass]="mon.count===0 ? 'empty': ''"
         role="button"
         (click)="selectTimeCategory(mon)"
         *ngFor="let mon of timeCategories">
      <div [ngClass]="mon=== currentTimeCategory ? 'selected': ''">
        <h4>{{mon.month.name}}</h4>
        <h4> ({{mon.count}})</h4>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row mx-1">
    <div class="col text-center category-box"
         role="button"
         [ngClass]="category===currentCategory ? 'selectedCategory' :''"
         (click)="selectCategory(category)"
         *ngFor="let category of categories">
      <h4>{{category.displeyName}}</h4>
    </div>
  </div>
</div>
<div *ngIf="events"
     class="container-md container-fluid my-5 ">
  <div class="row gx-5 gy-5">
    <div class="col-md-4"
         *ngFor="let event of events">
      <ng-container *ngIf="shouldBeDispley(event)">
        <div class="border border-primary border-3 rounded-3"
             (click)="navigateToEvent(event.id)"
             role="button">
          <img [src]="getImg(event)" class="w-100 img-fluid img-thumbnail mb-3" alt="...">
          <h4 class="mb-3 mx-3">{{event.name}}</h4>
          <div class="mb-3 mx-3">
            <h6 class="col p-0">{{event.startDate | date}}</h6>
            <h6 class="col">{{event.endDate | date}}</h6>
          </div>
          <h5 class="mb-3 mx-3">{{event.price}}</h5>
        </div>
      </ng-container>
    </div>
  </div>
</div>
