@import "./../../../styles";

.card-description {
  max-height: 15em;
}

.months-menu{
  white-space: nowrap;
  overflow-x: auto;
  border: solid 1px $dark;
  .month-box {
    display: inline-block;
    float: none;
    margin: 0;
    width: 8rem;
    color: $dark;
    background-color: $medium;
    border: solid 1px $dark;
    div {
      padding: 0.5rem;
    }
    .selected {
      background-color: $dark;
      color: white;
    }
  }
  .empty {
    background-color: $light;
  }
}

.category-box {
  padding: 1rem;
  background-color: $light;
  color: $dark;
}

.selectedCategory {
  background-color: $dark;
  color: white
}

.event-box {
  border: solid 5px $dark;
  background-color: $light;
  transition: 0.3s;
  margin-bottom: 2rem;
  img {
    margin-top: 1px;
    height: 300px;
    object-fit: cover;
  }
}

.event-box:hover {
  padding: 10px;
  transition: 0.3s;
}



