<h1 class="text-center m-5 text-dark">Kalendář akcí</h1>
<div class="container mb-5">
  <div class="months-menu mx-1  x ">
    <div class="text-center month-box "
         [ngClass]="mon.count===0 ? 'empty': ''"
         role="button"
         (click)="selectTimeCategory(mon)"
         *ngFor="let mon of timeCategories">
      <div [ngClass]="mon=== currentTimeCategory ? 'selected': ''">
        <h4>{{mon.month.name}}</h4>
        <h4> ({{mon.count}})</h4>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row mx-1">
    <div class="col text-center category-box"
         role="button"
         [ngClass]="category===currentCategory ? 'selectedCategory' :''"
         (click)="selectCategory(category)"
         *ngFor="let category of categories">
      <h4>{{category.displeyName}}</h4>
    </div>
  </div>
</div>
<div *ngIf="events"
     class="container-md my-5 ">
  <div class="d-flex flex-column flex-md-row">
    <div class="col-md-4"
         *ngFor="let event of events">
      <ng-container *ngIf="shouldBeDispley(event)">
        <div class="event-box"
             (click)="navigateToEvent(event.id)"
             role="button">
          <img [src]="getImg(event)" class="w-100 img-fluid mb-3" alt="...">
          <div class="container m-4">
            <div class="row">
              <h2 class="col text-primary">{{event.name}}</h2>
            </div>
            <div class="row">
              <h5 class="col text-dark">{{event.startDate | date}}</h5>
            </div>
            <div class="row">
              <h5 class="col text-dark">{{event.startDate | date}}</h5>
              <h3 class="col text-primary text-center">{{event.price}}</h3>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
