@import "./../../../styles";

.link-card {
  position: relative;
}

.link-card:hover {
  .conner-icon {
    font-size: 5rem;
    transition: 0.3s;
  }
  h2 {
    font-weight: 1000;
    transition: 0.3s;
  }
}

.conner-icon {
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 4rem;
  color: $primary;
  transition: 0.3s;
}
