<div class="home-item text-center">
  <h1>MIA logo</h1>
  <h3>Studentsky spolek Univerzity Karlovy</h3>
  <button type="button" class="btn btn-secondary btn-lg">
    <a class="nav-link" routerLink="/login">Pridej se k nam</a>
  </button>
</div>
<div class="home-item text-center">
<!--  <h2> Nadchazejici akce</h2>-->
  <app-events></app-events>
  <button type="button" class="btn btn-secondary btn-lg">
    <a class="nav-link" routerLink="/events">Zobrazit vsechny akce</a>
  </button>
</div>
<div class="home-item text-center ">
  <h2> O nas</h2>
  <button type="button" class="btn btn-secondary btn-lg">
    <a class="nav-link" routerLink="/about">vsichi nasi clenove</a>
  </button>
</div>
