$primary:       #C70039;
$secondary:     #FF6969;
$success:       #628d09;
$info:          #d0ea8d;
$warning:       #c48332;
$danger:        #a10707;
$light:         #e6d0c9;
$medium:        #FF6969;
$dark:          #141E46;
