

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "~bootstrap-icons/font/bootstrap-icons.css";

$primary:       #C70039;
$secondary:     #FF6969;
$success:       $green;
$info:          #d0ea8d;
$warning:       $yellow;
$danger:        $red;
$light:         #e6d0c9;
$medium:        #FF6969;
$dark:          #141E46;

//futhermore it's necesary override the $theme-colors

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "medium":     $medium,
  "dark":       $dark
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';
//@import "~bootstrap/dist/css/bootstrap.css";


.social-icon {
  font-size: 30px;
  background-color: $light;
  .fb {
    color: #1877f2;
  }

  .ig {
    color: #9f0598;
  }
}
@media only screen and (max-width: 415px) {
  .h-screen {
    height: auto;
  }
  .h-50-screen {
    height: auto;
  }

}
@media only screen and (min-width: 800px) {
  .h-screen {
    height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .h-50-screen {
    height: 70vh;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
